*.js linguist-generated=true
www/** linguist-vendored=false
*.js linguist-detectable=true
*.js  export-ignore

*.css linguist-generated=true
www/** linguist-vendored=false
*.css linguist-detectable=true
*.css  export-ignore

*.html linguist-generated=true
www/** linguist-vendored=false
*.html linguist-detectable=true
*.html  export-ignore

*.htm linguist-generated=true
www/** linguist-vendored=false
*.htm linguist-detectable=true
*.htm  export-ignore

*.sh linguist-generated=true
www/** linguist-vendored=false
*.sh linguist-detectable=true
*.sh  export-ignore

*.py linguist-generated=true
www/** linguist-vendored=false
*.py linguist-detectable=true
*.py  export-ignore
