*.js linguist-generated=true
www/** linguist-vendored=false
www/** linguist-vendored=false
*.js linguist-detectable=true
*.js  export-ignore

*.css linguist-generated=true
www/** linguist-vendored=false
www/** linguist-vendored=false
*.css linguist-detectable=true
*.css  export-ignore

*.html linguist-generated=true
www/** linguist-vendored=false
www/** linguist-vendored=false
*.html linguist-detectable=true
*.html  export-ignore

*.html inguist-generated=true
www/** linguist-vendored=false
www/** linguist-vendored=false
*.htm linguist-detectable=true
*.htm  export-ignore
